@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 20% 90%;
    --foreground: 0 0% 10%;
    --card: 210 20% 98%;
    --card-foreground: 0 0% 10%;
    --popover: 210 20% 98%;
    --popover-foreground: 0 0% 10%;
    --primary: 180 85% 40%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 15% 85%;
    --secondary-foreground: 0 0% 10%;
    --muted: 210 15% 85%;
    --muted-foreground: 0 0% 40%;
    --accent: 320 90% 55%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 0 0% 100%;
    --border: 210 10% 60%;
    --input: 210 10% 60%;
    --ring: 180 85% 40%;
    --chart-1: 180 85% 40%;
    --chart-2: 320 90% 55%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.25rem;
  }
  .dark {
    --background: 240 10% 10%;
    --foreground: 210 20% 90%;
    --card: 240 10% 15%;
    --card-foreground: 210 20% 90%;
    --popover: 240 10% 10%;
    --popover-foreground: 210 20% 90%;
    --primary: 180 85% 40%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 5% 20%;
    --secondary-foreground: 210 20% 90%;
    --muted: 240 5% 20%;
    --muted-foreground: 210 20% 70%;
    --accent: 320 90% 55%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 0 0% 100%;
    --border: 240 5% 30%;
    --input: 240 5% 30%;
    --ring: 180 85% 40%;
    --chart-1: 180 85% 40%;
    --chart-2: 320 90% 55%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-smooth: never;
    -webkit-font-smoothing: none;
  }
}
